html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

.Embed-container {
  width: 100%;
  height: 100%;
  border: none; /* No borders for full-page experience */
}

@media (max-width: 768px) {
  /* Adjustments for tablets or smaller screens */
  .Embed-container {
    height: 100%;
  }
}

@media (max-width: 576px) {
  /* Adjustments for mobile devices */
  .Embed-container {
    height: 100%;
  }
}
